ul
{
	list-style-type:none;
	margin:0px;
	padding:0px;
	overflow:hidden;
	background-color:black;
	position:fixed;
	width:100%;
}

li
{
	float:left;
	margin-right:50px;
}

li a
{
	display:block;
	color:white;
	text-align:center;
	padding:14px;
	text-decoration:none;
}

li a:hover
{
	background-color:orange;
}